@import "tailwindcss";

:root {
  --bg-start: #d6e2e9;
  --bg-end: #90d4ff;
  --primary: #40b1f9;
  --text-dark: #04436b;
}

@theme inline {
  --color-bg-start: var(--bg-start);
  --color-bg-end: var(--bg-end);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  font-family: sans-serif;
}
